@import url('http://fonts.googleapis.com/css?family=Text+Me+One');
* {
	font-family: 'Text Me One', sans-serif;
}
body
{
	background-color:black;
	color: green;
	margin:1em;
	width:20em;
	
}
div.chat {
	overflow: hidden;
}
div.user {
    color: white;
    clear: none;
    display: inline-block;
    width: 6em;
   text-align: right;
   margin : 0px;
   padding-bottom: 0px;
   padding-right: 5px;
} 

div.txt {
    color: red;
    display: inline-block;
    margin: 0px;
    clear: right;
   padding-bottom: 0px;

}
form {
	padding-top: 1em;
}
