@import url('http://fonts.googleapis.com/css?family=Text+Me+One');

*:focus {
    outline: none;
}

* {
	font-family: 'Text Me One', sans-serif;
	background-color:black;
	color: green;
}
div.user {
    color: white;
}
div.txt {
	
    color: red;
}
input {
background-color:#000033;
border: 0px solid;
color:white;
}

a {
	text-decoration: none;
}

body
{
	margin:1em;
	width:20em;
	
}
div.chat {
	overflow: hidden;
}
div.user {
    clear: none;
    display: inline-block;
    width: 6em;
   text-align: right;
   margin : 0px;
   padding-bottom: 0px;
   padding-right: 5px;
} 

div.txt {
    display: inline-block;
    margin: 0px;
    clear: right;
   padding-bottom: 0px;

}
form {
	padding-top: 1em;
}

