body
{
	background-color:black;
	color: green;
	margin:1em;
}

div.user {
    color: white;
    clear: none;
    display: inline-block;
    width: 100px;
    //overflow : hidden;
   text-align: right;
   margin : 0px;
   padding-bottom: 10px;
   padding-right: 5px;
} 
    div.txt {
    color: red;
    display: inline-block;
    margin: 0px;
    clear: right;
   padding-bottom: 10px;

}
